
<form class="row gy-2 gx-3 align-items-center" action ="/" method= "POST">
  <div class="col-auto">
    <label class="visually-hidden" for=".Song_title">Name</label>
    <input type="text" name="Song_title" class="form-control" id="autoSizingInput" placeholder="Song Name">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="singer">Artist</label>
    <div class="input-group">
    
      <input type="text" name="singer" class="form-control" id="autoSizingInputGroup" placeholder="Artist Name">
    </div>
  </div>
  
  
  <div class="col-auto">
    <button type="submit" class="btn btn-info">Search</button>
  </div>
</form>