
<!-- Page will render when error is caught -->
<html>
	<head>
		
		<title>Error</title>
		<link rel="stylesheet" href = "/css/land.css"/>
	</head>
	<body>
		<h3>
			Sorry! Try searching with correct credentials, redirecting to root route.... 3..2..1..
		</h3>
		<script>
// 			Will redirect after 5sec on the home page
			setTimeout(function() {
			  window.location.href = "/";
			}, 5000);
		</script>
	</body>
</html>